<!DOCTYPE html>
<html>
  <head>
    <title>Flask-MongoDB Team Signup Site</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Flask-MongoDB Team Signup Site</h1>
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('view_team')}}">View Team</a> |
          <a href="{{ url_for('create_team')}}">Create Team</a> |
          <a href="{{ url_for('join_team')}}">Join Team</a> |
          <a href="{{ url_for('read')}}">Discussion Boards</a> |
          <a href="{{ url_for('create')}}">Create a post</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          The source code for this example app is
          <a href="https://github.com/dbdesign-students-fall2021/web-app-ianhuxx.git"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>
