{% extends 'base.html' %} {% block container %}
<h2>Create</h2>
<p>Create a new record in the MongoDB database collection.</p>
<form method="POST" action="{{ url_for('create_post') }}">
  <p>Your name: <input type="text" id="fname" name="fname" /><br /></p>
  <p>Email Address: <input type="text" id="femail" name="femail" /><br /></p>
  <p>Project Name: <input type="text" id="fproj_name" name="fproj_name" /><br /></p>
  <p>
    Project Description:
    <textarea type="text" id="fdescription" name="fdescription"></textarea>
  </p>
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Post" />
  </p>
</form>
{% endblock %}
