{% extends 'base.html' %}

{% block container %}
<h2>Welcome!</h2>
<p>Welcome to the Flask app. This is the home page. Here are a few links to example pages you might find interesting.
    <ul>
        <li><a href="{{ url_for('join')}}">To join a existing team</a></li>
        <li><a href="{{ url_for('create')}}">To create a new team</a></li>
        <li><a href="{{ url_for('discussion')}}">looking for ideas?</a></li>
    </ul>
</p>
<footer>
<p> Descriptive Stats for now
    <ul>
        <li>Number of Teams: {{ docs.collection.count() }}</li>
        <li>Number of Discussions: {{ docs.collection.count() }}</li>
    </ul>
</p>
{% endblock %}