{% extends 'base.html' %}

{% block container %}
<h2>Join a Team</h2>

</p>

<form method="POST" action="{{ url_for('create_post') }}">
    <p>There are currently {{docs.collection.count()}} teams created.
        
        {% for doc in docs %}
        <div>
            <hr class="solid">
            </p>
            <p>Project Title: {{ doc.project_title }}<p></p>
            <p>Created By by {{doc.name}} at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}<p></p>
            <p>Project Description: {{ doc.description }} <p></p>
            </p>
            <label><input type="checkbox" name="joined_team"> Join Team</label>
            <p class="post">
                
        </div>
        {%endfor%}
        <input type="name" name="joined_name" placeholder="your name" size="30" required>
        <input type="submit" name="post-btn" value="Submit" />
    <p>
      <a href="{{ url_for('join')}}">Cancel</a>
      <input type="submit" name="post-btn" value="Post" />
    </p>
  </form>

{% endblock %}